/*fonts*/
@font-face
{
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf');
}
@font-face
{
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face
{
    font-family: Lato-Italic;
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face
{
    font-family: Lato-LightItalic;
    src: url('../fonts/Lato-LightItalic.ttf');
}
@font-face
{
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face
{
    font-family: Raleway-Black;
    src: url('../fonts/Raleway-Black.ttf');
}
@font-face
{
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Bold.ttf');
}
@font-face
{
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face
{
    font-family: Raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}
/*fonts*/
/*color*/
/*green hex: #8ec448 rgb(142,196,72)*/
/*color*/
/*nav start*/
.py-80{ padding-top: 80px; padding-bottom: 80px;}
.px-80{ padding-left: 80px; padding-right: 80px;}
.mb-30{ margin-bottom: 30px; }
.mr-30{ margin-right: 30px;}
.ml-30{ margin-left: 30px;}
.mt-8{ margin-top: 7px; }
nav button
{
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    color: black;
    border: 1px solid #ced4da;
    cursor: pointer;
}
nav button:hover
{
    color: #8ec448;
}
nav
{
    background: rgba(255, 255, 255, 0.8);
}
.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler
{
    border-color: rgba(0,0,0, 0.2); 
}
nav .nav-link
{
    font-family: Raleway-Bold;
    font-size: 13px;
    color: #353535;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 0 7px;
}
.navbar .nav-item:hover .nav-link
{
    color: #8ec448;
}
.navbar a img
{
    transition: 0.5s;
}
.navbar a img:hover
{
    filter: invert(74%) sepia(26%) saturate(971%) hue-rotate(42deg) brightness(94%) contrast(82%);
}
.navbar .form-control
{
    border-radius: 0;
    background: rgba(255, 255, 255, 0.3);
}
/*nav end*/
/*        <!--        slider start-->*/
#home .carousel-img1
{
    background: url('../img/slider1.jpg');
    background-size: 100% 100%;
    background-size: cover;
    height: 600px;
}
#home .carousel-img2
{
    background: url('../img/slider2.jpg');
    background-size: 100% 100%;
    background-size: cover;
    height: 600px;
}
#home .carousel-img3
{
    background: url('../img/slider3.jpg');
    background-size: 100% 100%;
    background-size: cover;
    height: 600px;
}
#home .carousel-indicators
{
    padding-bottom: 15px;
}
#home .carousel-caption
{
    margin-bottom: 120px;
}
#home .carousel-caption h3 
{
    font-family: Lato-Black;
    font-size: 24px;
    color: #353535;
    text-transform: uppercase;
}
#home .carousel-caption h1
{
    font-family: Raleway-Bold;
    font-size: 60px;
    color: #353535;
    text-transform: uppercase;
}
#home .carousel-caption .btnview,#home .carousel-caption .btnpu
{
    width: 130px;
    height: 42px;
    font-family: Raleway-Black;
    font-size: 13px;
    padding: 11px 12px;
    text-transform: uppercase;
}
#home .carousel-caption .btn-outline-info
{
    color: #353535;
    border-color: #353535;
}
#home .carousel-caption .btn-success
{
    color: #fff;
    border-color: rgb(142,196,72);
    background: rgb(142,196,72);
}
#home .carousel-caption .btn-success:hover
{
    background: rgba(142,196,72,0.5);
}
#home .carousel-caption .btn-outline-info:hover
{
    color: #fff;
    border-color: #353535;
    background: #353535;
}
#home .carousel-indicators > li, #client .carousel-indicators > li, #blog .carousel-indicators > li
{
    width: 10px;
    height: 10px;
    border: 1px solid #353535;
    border-radius: 50%;
    /*    border-color: #353535;*/
    background-color: rgba(142,196,72,0);
}
#client .carousel-indicators > li
{
    border-color: #8ec448;
}
#home .carousel-indicators .active, #client .carousel-indicators .active, #blog .carousel-indicators .active
{
    background-color: rgba(142,196,72,1);
}
/* <!-- slider end-->*/
/*<!-- service start-->*/
#service hr, #work hr, #about hr, #skill hr, #team hr, #client hr, #blog hr, #partner hr, #newsletter hr
{
    width: 5%;
    border-top: 1px solid rgba(0, 0, 0, 1);
    margin: auto;
}
#about hr, #skill hr
{
    width: 15%;
    padding-top: 5px;
}
#client hr, #newsletter hr
{
    border-color: white;
}
#service h1, #work h1, #about h1, #skill h1, #team h1, #client h1, #blog h1, #partner h1, #newsletter h1
{
    font-family: Raleway-Black;
    font-size: 24px;
    color: #353535;
    padding-bottom: 5px;
}
#client h1, #newsletter h1
{
    color: white;
}
#service h6, #work h6, #about h6, #skill h6, #team h6, #client h6, #blog h6, #partner h6, #newsletter h6
{
    font-family: Lato-LightItalic;
    font-size: 16px;
    color: #555555;
    padding-top: 25px;
    padding-bottom: 45px;
}
#client h6, #newsletter h6
{
    color: white;
}
#service .card i
{
    font-size: 40px;
}
#service .card h5
{
    font-family: Raleway-Bold;
    font-size: 13px;
    color: #353535;
    padding-top: 15px;
    padding-bottom: 5px;
}
#service .card p
{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
}
#service .card:hover
{
    background: rgb(142,196,72);
    color: white;
}
#service .card:hover h5, #service .card:hover p
{
    color: white;
}
/*<!-- service end-->*/
/*<!--        work start-->*/
#work .breadcrumb
{
    background: none;
    padding-bottom: 50px;
}
#work .breadcrumb-item a, #work .breadcrumb-item
{
    font-family: Raleway-SemiBold;
    font-size: 12px;
    color: #353535;
}
#work .active
{
    color: #8ec448
}
#work .col-lg-4
{
    position: relative;
    /*    padding: 0;*/
}
#work img
{
    width: 100%;
    height: 400px;
}

#work .overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 15px;
    height: 100%;
    width: calc(100% - 30px);
    transition: 0.6s ease;
    background: black;
    opacity: 0;
}
#work .col-lg-4:hover .overlay
{
    opacity: 0.8;
}
#work .circle_icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: #8ec448;
    border-radius: 50%;
}
#work .overlay .fa
{
    color: white;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#work h5
{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway-Bold;
    text-transform: uppercase;
    font-size: 13px;
    color: #8ec448;
}
#work p
{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lato-Italic;
    font-size: 13px;
    color: #fefefe;
}
#work .btn-work,#work .fas, #about .btn-about
{
    width: 156px;
    height: 42px;
    border-color: #353535;
    color: #353535;
    font-family: Raleway-Black;
    font-size: 13px;
    padding: 11px 12px;
    text-transform: uppercase;
}
#work .btn-work:hover, #about .btn-about:hover
{
    background: #8ec448;
    color: white;
    border-color: #8ec448;
}
/*<!--        work end-->*/
/*<!--        about start-->*/
#about .col-lg-6, #about .col-12
{
    position: relative;

}
#about .about_img1
{
    position: relative;
    top: 5%;
    left: 5%;
    right: 25%;
    /*    width: 100%;*/
    height: 90%;;
}
#about .about_img2
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*    width: 100%;*/
    height: 100%;
}
#about p
{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
    padding-bottom: 25px;
}
#about h6
{
    padding-top: 25px;
    padding-bottom: 35px;
}
/*<!--        about end-->*/
/*skill start*/
#skill 
{
    background: #f1f1f1;
}
#skill h5
{
    font-family: Raleway-Bold;
    font-size: 12px;
    color: #353535;
    text-transform: uppercase;
    padding-bottom: 5px;
}
#skill .progress
{
    height: 10px;
    margin-bottom: 25px;
}
#skill .bg-progress
{
    background: #8ec448;
}
/*skill end*/
/*<!--        team start-->*/
#team img
{
    position: relative;
    height: 100%;
}
#team .overlay-team
{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    width: calc(100% - 30px);
    height: 35%;
    background: rgb(0,0,0);
    opacity: 0.8;
    transition: 0.6s;
}
#team .overlay-team:hover
{
    height: 100%;
}
#team h3
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway-Bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
}
#team h4
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Raleway-SemiBold;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
}
#team .overlay-team:hover h3
{
    top: 35%;
}
#team .overlay-team:hover h4
{
    top: 41%;
}
#team .overlay-team:hover .d-flex
{
    display: block;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #ffffff;
}
#team .overlay-team:hover .d-flex .flex-circle
{
    border-color: white;
    font-size: 22px;
    color: #ffffff;
}
#team .overlay-team:hover .d-flex .flex-circle a
{
    font-size: 22px;
    color: #ffffff;
}
#team .d-flex .flex-circle:nth-child(1) a:hover
{
    color: white;
}
#team .d-flex .flex-circle:nth-child(1):hover
{
    background:  #3B5997;
}
#team .d-flex .flex-circle:nth-child(2) a:hover
{
    color: white;
}
#team .d-flex .flex-circle:nth-child(2):hover
{
    background:  #3EC2F3;
}
#team .d-flex .flex-circle:nth-child(3) a:hover
{
    color: white;
}
#team .d-flex .flex-circle:nth-child(3):hover
{
    background: #E44C41;
}
#team .d-flex .flex-circle:nth-child(4) a:hover
{
    color: white;
}
#team .d-flex .flex-circle:nth-child(4):hover
{
    background: black;
}
#team .d-flex a
{
    text-decoration: none;
    color: black;
}
#team .d-flex .flex-circle
{
    width: 42px;
    height: 42px;
    border: 2px solid black;
    border-radius: 50%;
}
/*<!--        team end-->*/
/*<!--        client start-->*/
#client
{
    background: url(../img/client_bg.jpg);
    min-height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#client .client-overlay
{
    background: rgba(0, 0, 0, 0.8);
    height: 600px;
}
#client .carousel-box1, #client .carousel-box2
{
    min-height:320px; 
}
#client .client-circle
{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 1px solid white;
}
#client img
{
    padding: 3px;
    width: 99%;
    height: 95%;
}
#client .words1
{
    background: white;
    border-radius: 3px;
}
#client .words1 h3
{
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #353535;
    text-transform: uppercase;
}
#client .words1 h4
{
    font-family: Lato-LightItalic;
    font-size: 16px;
    color: #353535;
}
#client .words1 p
{
    font-family: Lato-LightItalic;
    font-size: 16px;
    color: #353535;
}
#client .words1
{
    padding: 40px 20px 25px;
    position: relative;
}
#client .words1::before
{
    content: "";
    position: absolute;
    right: 100%;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid white;
    border-bottom: 15px solid transparent;
}
#client .carousel-indicators
{
    top: 110%;
}

/*<!--        client end-->*/
/*blog start*/
#blog h5
{
    font-family: Lato-Bold;
    font-size: 11px;
    color: #555555;
}
#blog h4
{
    font-family: Raleway-Bold;
    font-size: 12px;
    color: #353535;
    text-transform: uppercase;
}
#blog p
{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
}
#blog .blog-link
{
    font-family: Raleway-Black;
    font-size: 13px;
    color: #353535;
    text-decoration: none;
    transition: 0.4s;
}
#blog .blog-link:hover
{
    color: #8ec448;
}
.icofont-2x
{
    vertical-align: middle;
}
#blog img
{
    position: relative;
    width: 100%;
    height: 100%;
}
#blog .blog-overlay
{
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    /*    bottom: 0;*/
    width: calc(100% - 30px);
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.6s;
}
#blog .blog-overlay:hover
{
    opacity: 0.6;
}
#blog .b_link_circle, #blog .b_share_circle
{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 22px;
    color: white;
}
#blog .b_share_circle
{
    left: 62%;
}
#blog .b_share_circle a, #blog .b_link_circle a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}
#blog .carousel-item
{
    min-height: 280px;
}
#blog .carousel
{
    min-height: 220px;
}
#blog .carousel-caption
{
    text-align: left;
}
#blog .carousel-caption .container
{
    padding: 0;
}
#blog .carousel-indicators
{
    top: 100%;
}
/*blog end*/
/*partner start*/
#partner .card
{
    border-radius: 0;
}
/*
#partner .card-body
{
padding: 0;
}
*/
#partner .card img
{
    width: 100%;
}
/*partner end*/
/*newsletter start*/
#newsletter
{
    background: url('../img/news_img.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    /*    background-size: 100% 100%;*/
}
#newsletter .newsletter-overlay
{
    min-height: 400px;
    background: rgba(0, 0, 0, 0.7);
}
#newsletter h6
{
    padding-bottom: 0;
}
#newsletter .form-control
{
    width: 45%;
    background: transparent;
    border-radius: 0;
    height: 45px;
    font-family: Lato-Regular;
    /*    position: relative;*/
}
#newsletter .btn
{
    border-radius: 0;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 21px;
    border-left: 0;
}
#newsletter input:focus
{
    font-family: Lato-Regular;
    color: white;
}
#newsletter .btn:hover
{
    color: #8ec448;
}
/*newsletter end*/
/*contact start*/
#contact p
{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #555555;
}
#contact i
{
    font-size: 20px;
}
#contact .last-icon
{
    padding: 0 16px 16px;
}
#contact .row .col-4
{
    padding: 0 0 15px 15px;
}
#contact h2
{
    font-family: Raleway-Bold;
    font-size: 14px;
    color: #353535;
    padding-top: 20px;
    padding-bottom: 47px;
}
#contact .icofont-twitter
{
    color: #3EC2F3;
}
/*contact end*/
/*footer start*/
footer h3
{
    font-family: Lato-Regular;
    font-size: 13px;
    color: #555555;
    padding: 20px 0;
}
footer .fb-circle,footer .tw-circle,footer .g-circle,footer .be-circle
{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: relative;
}
footer .fb-circle i, footer .tw-circle i,footer .g-circle i,footer .be-circle i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #353535;
    font-size: 20px;
    transition: 0.2s;
}
footer .fb-circle:hover i
{
    color: #3B5997;
}
footer .tw-circle:hover i
{
    color: #3EC2F3;
}
footer .g-circle:hover i
{
    color: #E44C41;
}
footer .be-circle:hover i
{
    color: black;
}
/*footer send*/

/*media query start*/
@media (max-width: 420px)
{
    #client .client-circle
    {
        width: 95%;
        height: 95%;
        border-radius: 100%;
    }
    #client
    {
        min-height: 900px;
    }
    #client .client-overlay
    {
        height: 900px;
    }
    #client .carousel-box1, #client .carousel-box2
    {
        min-height:650px; 
    }
    #client .words1 h3, #client .words1 h4, #client .words1 p
    {
        font-size: 12px;
    }
    #client .carousel-indicators
    {
        top: 100%;
    }
    #blog .carousel-item
    {
        min-height: 6750px;
    }
}
@media (min-width: 421px) and (max-width: 575px)
{
    #client .client-circle
    {
        width: 95%;
        height: 95%;
        border-radius: 100%;
    }
    #client
    {
        min-height: 800px;
    }
    #client .client-overlay
    {
        height: 800px;
    }
    #client .carousel-box1, #client .carousel-box2
    {
        min-height:560px; 
    }
    #client .words1 h3, #client .words1 h4, #client .words1 p
    {
        font-size: 14px;
    }
    #client .carousel-indicators
    {
        top: 101%;
    }
    #blog .carousel-item
    {
        min-height: 560px;
    }
}
/* start small than sm */
@media (max-width: 575px)
{
    #service .card
    {
        width: 75%;
    }
    #work img
    {
        height: 300px;
    }
    #skill .progress
    {

        margin-bottom: 15px;
    }
    #skill h6
    {
        padding-bottom: 10px;
    }
    #newsletter .form-control
    {
        width: 80%;
    }
}
/* end small than sm */

/* start sm */
@media (min-width: 576px) and (max-width: 767px)
{
    #service .card
    {
        width: 75%;
    }
    #work img
    {
        height: 320px;
    }
    #skill .progress
    {

        margin-bottom: 15px;
    }
    #skill h6
    {
        padding-bottom: 10px;
    }
    #client .client-circle
    {
        width: 98%;
        height: 98%;
        border-radius: 100%;
    }
    #client
    {
        min-height: 800px;
    }
    #client .client-overlay
    {
        height: 800px;
    }
    #client .carousel-box1, #client .carousel-box2
    {
        min-height:500px; 
    }
    #client .words1 h3, #client .words1 h4, #client .words1 p
    {
        font-size: 14px;
    }
    #blog .carousel-item
    {
        min-height: 500px;
    }
    #newsletter .form-control
    {
        width: 90%;
    }
}
/* end sm */

/* start md */
@media (min-width: 768px) and (max-width: 991px)
{
    #work img
    {
        height: 330px;
    }
    #about .about_img1
    {
        left: 4%;
    }
    #skill .progress
    {

        margin-bottom: 15px;
    }
    #skill h6
    {
        padding-bottom: 10px;
    }
    #team .d-flex .flex-circle
    {
        width: 38px;
        height: 38px;
        font-size: 18px;
    }
    #client .client-circle
    {
        width: 98%;
        height: 98%;
        border-radius: 100%;
    }
    #client
    {
        min-height: 730px;
    }
    #client .client-overlay
    {
        height: 730px;
    }
    #client .carousel-box1, #client .carousel-box2
    {
        min-height:500px; 
    }
    #client .words1 h3, #client .words1 h4, #client .words1 p
    {
        font-size: 14px;
    }
    #client .carousel-indicators
    {
        top: 98%;
    }
    #blog .carousel-item
    {
        min-height: 560px;
    }
    #newsletter .form-control
    {
        width: 90%;
    }
}
/* end md */

/* start lg */
@media (min-width: 992px) and (max-width: 1199px)
{
    nav .nav-link
    {
        margin: 0; 
    }
    #work img
    {
        height: 350px;
    }
    #client .client-circle
    {
        width: 75%;
        height: 75%;
        border-radius: 100%;
    }
    #client
    {
        min-height: 700px;
    }
    #client .client-overlay
    {
        height: 700px;
    }
    #client .carousel-box1, #client .carousel-box2
    {
        min-height:480px; 
    }
    #client .carousel-indicators
    {
        top: 98%;
    }
    #blog .b_share_circle
    {
        left: 68%;
    }
}
/* end lg */

/* start xl */
@media (min-width: 1300px)
{
    .carousel-img1
    {
        height: 600px;
    }
    #work img
    {
        height: 380px;
    }
}
/* end xl */
/* start xl */
@media (min-width: 1600px)
{
    .carousel-img1
    {
        height: 700px;
    }
}
/* end xl */
/*media query end*/